:root {
  --basic-white: #ffffff;
  --basic-background: #849d8f;
  --basic-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --basic-text: #323232;

  --special-subscription: #5a5a5a;
  --special-placeholder: #999999;
  --special-formbackground: #f8f7f4;
  --special-sliderbackground1: #8996a6;
  --special-sliderbackground2: #9d8b84;
  --special-submenuhover: #fbdEd7;
  --special-submenuactive: #f6b5a5;
  --special-menuactive: #ededed;
  --special-menuactiveshadow: #696969;
  --special-menucurrent: #d07058;
  --special-loginbutton: rgba(255, 255, 255, 0.2);
  --special-buttonshadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --special-buttontextshadow: rgba(160, 32, 11, 0.76);
  --special-buttonhover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --special-buttonshadowhover: #ac1000;
  --special-buttonactive: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --special-buttonactiveshadow: #942718;
  --special-bannerraspberry: #4e1821;
  --special-bannerchocolate: #664b3a;
  --special-priceshadow: rgba(49, 50, 53, 0.5);
  --special-addressbackground: #fefefe;
  --special-subscriptioninput: rgba(178, 178, 178, 0.52);
  --special-linkhover: #ffbc9e;
  --specil-linkhover2: #e84d37;
  --specil-formborder: #d3d3d2;
  --special-formfocus: rgba(46, 136, 228, 0.52);
  --special-linkunderline: rgba(255, 188, 158, 0.3);
  --special-itemprice: #ababab;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-main {
  margin-top: -43px;
}

/* Container  */
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-catalog {
  display: grid;
  margin-top: -26px;
}

/* Main-header */
.main-header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr min-content;
}

.button {
  padding: 10px 1.25em;
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background: var(--basic-button);
  box-shadow: var(--special-buttonshadow);
  border: none;
  border-radius: 70px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--special-buttonhover);
  box-shadow: 0px 2px 2px var(--special-buttonshadowhover);
}

.button:active {
  background: var(--special-buttonactive);
  box-shadow: var(--special-buttonactiveshadow);
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 13px;
}

/* Main navigation */
.main-navigation {
  margin-top: 9px;
  display: grid;
  grid-template-columns: auto 1fr;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation-item {
  margin-right: 6px;
}

.site-navigation > li {
  position: relative;
}

.site-navigation a {
  display: block;
  padding-top: 8px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--basic-white);

}

.site-navigation-item span {
  border-bottom: 1px solid var(--special-loginbutton);
}

.site-navigation-current > a {
  padding-bottom: 8px;
  background-color: var(--special-menucurrent);
  border-radius: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  padding-bottom: 8px;
  color: var(--basic-text);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-navigation a:active {
  background-color: var(--special-menuactive);
  box-shadow: inset 0px 2px 1px var(--special-menuactiveshadow);
}

.sub-navigation {
  position: absolute;
  width: 143px;
  top: 38px;
  left: -6px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  border-radius: 4px;
  display: none;
}

.site-navigation > li:hover .sub-navigation {
  display: block;
}

.sub-navigation a {
  padding-left: 21px;
  padding-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-text);
}

.sub-navigation-title a {
  font-weight: bold;
}

.sub-navigation-current a {
  background-color: var(--special-menucurrent);
}

.sub-navigation a:hover,
.sub-navigation a:focus {
  background-color: var(--special-submenuhover);
  border-radius: 0;
}

.sub-navigation a:active {
  background-color: var(--special-submenuactive);
  box-shadow: none;
  border-radius: 0;
}

/* User navigation */
.user-navigation {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

/* Search */
.header-search-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header-search-wrapper:hover .header-search {
  display: block;
}

.header-search-wrapper::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.header-search-wrapper:hover::before,
.header-search-wrapper:focus::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
  background-image: url("../img/icon-search-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.header-search-wrapper:hover,
.header-search-wrapper:focus {
  background-color: var(--basic-white);
}

.header-search {
  position: absolute;
  width: 341px;
  height: 83px;
  top: 32px;
  left: -309px;
  background-color: var(--special-formbackground);
  border-radius: 4px;
  display: none;
}

.header-search input {
  box-sizing: border-box;
  width: 311px;
  margin-top: 19px;
  margin-left: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 11px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: var(--special-placeholder);
  border: 1px solid var(--specil-formborder);
  border-radius: 4px;
}

/* Login/Cart */
.user-button {
  position: relative;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: none;
  color: var(--basic-white);
  background-color: var(--special-loginbutton);
  border-radius: 20px;
  cursor: pointer;
}

.header-login {
  margin-right: 10px;
}

.header-login:hover,
.header-login:focus {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.header-login::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-login:hover::before,
.header-login:focus::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-full {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.header-cart-full::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url("../img/icon-cart-full.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contact-wrapper {
  grid-column: 2 / -1;
  text-align: right;
}

/* Opening/tel */
.header-opening {
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header-tel {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/* Slider */
.slider {
  padding-bottom: 29px;
  background-image: url("../img/slide-image-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  text-align: center;
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 315px;
  width: 672px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  display: block;
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--special-loginbutton);
}

.breadcrumbs a::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 4px;
  left: 60px;
  background-image: url("../img/icon-next.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--special-linkhover);
  border-bottom: 1px solid var(--special-linkunderline);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

.page-title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}


/* Banners */
.banners {
  margin-bottom: 40px;
}

.banners-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
}

.banners-item  {
  padding-left: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 100%;
  border-radius: 16px;
}

.banners-item-raspberry {
  background-image: url("../img/raspberry-background.jpg");
  background-color: var(--special-bannerraspberry);
}

.banners-item-chocolate {
  background-image: url("../img/chocolate-background.jpg");
  background-color: var(--special-bannerchocolate);
}

.banner-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banner-description {
  margin: 0;
  margin-bottom: 42px;
  font-weight: bold;
  font-size: 18px;
}

.banner-button {
  display: inline-block;
  padding: 12px 22px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

/* Catalog/Hits */
.hits {
  margin-bottom: 40px;
}
.catalog-list,
.hits-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  list-style: none;
}

.hits-image,
.catalog-image {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.catalog-list {
  margin-bottom: 80px;
  row-gap: 40px;
}

.hits-price,
.catalog-price {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--special-priceshadow);
}

.hits-price span,
.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.hits-title,
.catalog-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/* Pagination */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  margin-right: 4px;
  text-align: center;
  color: var(--basic-white);
  border-radius: 50%;
}

.pagination-item-current a {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--special-loginbutton);
}

.pagination-item a:active {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

/* About */
.about {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 23px;
  padding-top: 23px;
  padding-bottom: 31px;
  background-image: url("../img/pattern-vaffle.png");
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.about-title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
}

.about-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 9px;
  list-style: none;
}

.about-item {
  padding-left: 55px;
  padding-top: 11px;
  color: var(--basic-text);
}

/* News */
.index-columns {
  min-height: 220px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.news {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 250px;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-white);
  border-radius: 16px;
}

.news-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-text);
}

.news-content {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
  text-decoration: underline;
}

.news-content:hover,
.news-content:focus,
.news-content:active {
  color: var(--specil-linkhover2);
}

/* Subscription */
.subscription {
  background-image: url("../img/mail-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 16px;
}

.subscription-wrapper {
  box-sizing: border-box;
  width: 548px;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 16px;
  background-color: var(--special-formbackground);
  border-radius: 16px;
}

.subscription-text {
  margin: 0;
  margin-bottom: 40px;
  color: var(--special-subscription);
}

.subscription-button {
  display: inline-block;
  margin-left: 6px;
  padding-left: 17px;
  padding-right: 16px;
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

.subscription-form input {
  box-sizing: border-box;
  width: 368px;
  margin-bottom: 35px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 9px;
  font: inherit;
  color: var(--basic-text);
  border: 1px solid var(--special-subscriptioninput);
  border-radius: 6px;
}

/* Address */
.address {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: var(--basic-text);
}

.address-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  min-height: 306px;
  padding-left: 25px;
  padding-top: 30px;
  background-color: var(--special-addressbackground);
  border-radius: 16px;
}

.address-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.address-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.address-order {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 20px;
}

.address-tel {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-text);
}

.address-opening {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 20px;
}

.address-button {
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

.address-image {
  display: block;
}

/* Filters */
.filter {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 870px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 14px;
}

.filter-form legend {
  margin-left: 17px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.sorting {
  width: 196px;
}

.filter-sorting {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--special-loginbutton);
  border: none;
}

.filter-sorting-option {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-text);
}

.filter-sorting:focus {
  color: var(--basic-text);
}

.price {
  width: 218px;
}

.fat {
  width: 425px;
}

.fat-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  display: flex;
  background-color: var(--special-loginbutton);
  border-radius: 20px;
}

.filling {
  width: 711px;
}

.filling-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  display: flex;
  background-color: var(--special-loginbutton);
  border-radius: 20px;
}

.filter-button {
  box-sizing: border-box;
  align-self: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  padding-right: 28px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--special-loginbutton);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px var(--special-menuactiveshadow);
}

/* Footer */

.main-footer {
  margin-top: 18px;
  margin-bottom: 25px;
  padding-left: 29px;
  padding-right: 27px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.footer-socials {
  margin: 0;
  margin-top: 15px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-socials-list li {
  margin-right: 7px;
}

.footer-socials-list li:last-child {
  margin-right: 0;
}

.social-button svg {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:active svg {
  border: 2px solid var(--basic-white);
}

.facebook-icon:hover path,
.facebook-icon:focus path,
.vk-icon:hover path,
.vk-icon:focus path,
.twitter-icon:hover path,
.twitter-icon:focus path {
  fill-opacity: 1;
}

.instagram-icon:hover g,
.instagram-icon:focus g {
  opacity: 1;
}

.facebook-icon:active path {
  stroke-opacity: 1;
}

.info {
  justify-self: center;
}

.info-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.info-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--special-loginbutton);
}

.info-link-supplier {
  font-weight: bold;
}

.info-link:hover,
.info-link:focus,
.info-link:active {
  color: var(--special-linkhover);
  border-bottom: 1px solid var(--special-linkunderline);
}

.copyright {
  max-width: 200px;
  margin: 0;
  justify-self: end;
}

.copyright-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.copyright-text span {
  text-decoration: underline;
}

/* Modal */
.modal {
  color: var(--basic-text);
  background-color: var(--special-formbackground);
  display: none;
}

.modal-link {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-text);
}

.modal-link:hover,
.modal-link:focus,
.modal-link:active {
  color: var(--specil-linkhover2);
}

.account-form input {
  font: inherit;
  color: var(--basic-text);
  border: 1px solid var(--specil-formborder);
}

.account-form input:hover {
  border: 2px solid var(--special-subscriptioninput);
}

.account-form input:focus {
  border: 2px solid var(--special-formfocus);
  outline: none;
}

.account-button {
  line-height: 16px;
  border-radius: 26px;
}

.feedback-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  color: var(--basic-text);
  border: 1px solid var(--special-subscriptioninput);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid var(--special-subscriptioninput);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid var(--special-formfocus);
  outline: none;
}

.feedback-button {
  text-shadow: 0px 2px 5px var(--special-buttontextshadow);
}

.user-cart-list {
  list-style: none;
}

.cart-item-title {
  font-size: 13px;
  line-height: 16px;
}

.cart-item-price,
.cart-item-total-price {
  font-size: 13px;
  line-height: 16px;
}

.cart-item-price span {
  color: var(--special-itemprice);
}

.user-cart-total-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}
